.menu  {
  width: 100%;
  display: grid;
  grid-column: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  padding: 5px 50px;
  padding-bottom: 20px;
  
}
.menu .dropped button{
  color: #000;
}
.menu .dropped button:hover{
  color: #d98484;
}

.menu .dropped-content {
  background: #fff;
  border: 1px solid rgb(46, 46, 46);
}

.menu img{
  
}

.dropped-content ul{
  list-style: none;
}