.product {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-self: center;
    padding-top: 20px;
}

.product img {
    height: 350px;
    width: 100%;
    background-color: #ddd;
    background-size: cover;
    object-fit: contain;
   
}

.product #desc {
    padding-top: 12px;
    width: 100%;
    display: grid;
    grid-column: auto;
    grid-template-columns: 
    1fr 
    1fr
    ;
}

.product i:hover {
    color: #d98484;
}

#desc #categ {
    width: 100%;
    display: grid;
    grid-column: auto;
    grid-template-columns: 
    1fr 
    1fr
    ;
    column-gap: 0.5pc;
    color: #bbb;
    font-size:18px;
    font-style: italic;
}
@media(max-width:768px){
    #desc #categ {
      width: 100%;
      grid-template-columns:
      1fr
      1fr
      ;
    }
  }
  
#desc button{
    text-align: right;
    color: #ccc;
    font-size: 18px;

}
.product #name {
    text-align: left;
    color: #000;
    font-size: 24px;
}

.product #price {
   
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.product:hover #price {
    display: none;
    
}
.product:hover #select {
    display: flex;
    animation-name: slice;
    animation-duration: 500ms;
}
.product #rs{
    color: #d98484;
    font-size: 25px;
}

.product #value{
    color: #d98484;
    font-size: 60px;
    line-height: 45px;
}
.product #select{
    margin-top: 10px;
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}
.product select{
    width: 100%;
    height: 35px;

}
#select button{
    margin-top: 5px;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    font-size: 18px;
    background: #ccc;
    border: 1px solid #ccc;
    color: #d98484;
}

#select button:hover{
    background: rgb(255, 59, 59);
    color: #fff;
}

@keyframes slice{
    from{
        transform: translatey(-50px);
        opacity: 0;
        
        }
        to{
        transform: translateX(0px);
        opacity: 1;
        
        }
    }
    

