@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
button{
  background: none;
  border: none;
}
a:hover, button:hover, .social i:hover{
  cursor: pointer;
  text-decoration-style: dashed;
}

html, body, #root {
  min-height: 100%;
}

body {
  background: #fff ;
  -webkit-font-smoothing: antialiased !important;
}

body, input, button {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 12px;
}


